accelerate==0.3.0
bs4==0.0.1
datasets==1.11.0
gffutils==0.10.1
nervaluate==0.1.8
pybedtools==0.9.0
seqeval==1.2.2
torch==1.9.0
transformers==4.9.1
wbtools==1.2.0

numpy~=1.22.3
beautifulsoup4~=4.10.0
requests~=2.27.1
nltk~=3.7
setuptools~=50.3.2
pandas~=1.4.1
tqdm~=4.63.1
scikit-learn~=1.0.2
python-dateutil~=2.8.2